:root {
  --background-color: #df5353;
}

.mybutton {
  background-color: transparent;
  border: none;
}



.focus-card {
  background-color: rgba(236, 233, 233, 0.103);
  border-radius: 2rem;
  height: 380px;
  width: 40%;
}

.btn-check   {
  font-size: 1.25rem;
  border-color: transparent;
  font-weight: 400;
  max-width: 50%;

}

.start-btn {
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  max-width: 25%;
  min-width: 25%;
}

.btn.btn-primary:hover {
  background-color: white;
  font-weight: 600;
  border-color: transparent;
  color: var(--background-color); /*TODO: change value with js*/
}

.btn:focus {
  background-color: white;
  font-weight: 600;
  color: var(--background-color); /*TODO: change value with js*/
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

.modal-btn {
  font-size: 1.1rem;
  border-color: transparent;
  font-weight: 500;
  background-color: rgb(35, 185, 35);
}

.badge-btn{
  background-color: transparent!important;
  border: none;
  display: flex;

}

.modal-btn:hover {
  font-size: 1.1rem;
  border-color: transparent;
  font-weight: 00;
  background-color: rgb(35, 185, 35);
  color: white;
}

.checked {
  background-color: white;
  font-weight: 600;
  border-color: transparent;
  color: var(--background-color); /*TODO: change value with js*/
}

.timer {
  font-size: 6rem;
  font-weight: 500;
  display: block ruby;
  color: white;
}

.badge {
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.322)!important;
}

.counter-pomodoro {
  font-size: 1.3rem;
  color: rgba(240, 240, 240, 0.658);
}

.start {
  background-color: white;
  font-weight: 600;
  border-color: transparent;
  color: var(--background-color); /*TODO: change value with js*/
  box-shadow: inset 0px -10px 0px 0px #ebebeb;
  width: 30%;
  height: 3.4rem;
  -webkit-box-shadow: inset 0px -8px 0px 0px #ebebeb;
  -moz-box-shadow: inset 0px -8px 0px 0px #ebebeb;
  -o-box-shadow: inset 0px -8px 0px 0px #ebebeb;
}

.stop {
  background-color: white;
  font-weight: 600;
  border-color: transparent;
  color: var(--background-color); /*TODO: change value with js*/
  width: 30%;
  height: 3rem;
  margin: auto;
  transform: translateY(8px);
}

@media screen and (max-width: 1100px) {

  .focus-card {
    background-color: rgba(236, 233, 233, 0.103);
    border-radius: 2rem;
    height: 380px;
    width: 70%;
  }
  
}

@media screen and (max-width: 840px) {

  .focus-card {
    background-color: rgba(236, 233, 233, 0.103);
    border-radius: 2rem;
    height: 380px;
    width: 70%;
  }
  
}

@media screen and (max-width: 660px) {

  .focus-card {
    background-color: rgba(236, 233, 233, 0.103);
    border-radius: 2rem;
    height: 380px;
    width: 100%;
  }
  
}


